<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="dashboard_act" aria-current="page" href="{{url_for('home')}}">
                    <span class="fa fa-dashboard mx-1"> </span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="upload_act" href="{{url_for('upload')}}">
                    <span class="fa fa-file-text-o mx-1"></span>
                    Upload
                </a>
            </li>
        </ul>
    </div>
</nav>